<!DOCTYPE html>
<head id="headId">
    <meta charset="UTF-8">
    <title>Guess Finished</title>
</head>
<body>
    <div align="center">
        <h1>Guess the number game</h1>
        <h2>Game Over</h2>
        <h3 id="result-message">
            Result Message Content
        </h3>

        <h3>
            <a id="restart-link">
                Play again
            </a>
        </h3>

        <h3>
            <a id="home-link">
                Home
            </a>
        </h3>

        <footer id="footerId">
            <p>Footer content</p>
        </footer>
    </div>
</body>
</html>